<!-- The content below is only a placeholder and can be replaced. -->
<div class="todo">
    <h4>ADD ITEM</h4>
    <hr>
    <input
        type="text"
        name="todo"
        autofocus
        id="id1"
        [(ngModel)]="itemName"
    >
    <button (click)="addItem()">Add</button>
    <div *ngIf="todoItem.length > 0">
        <h4>TODO</h4>
        <hr>
        <div *ngFor="let item of todoItem">
            <input
                type="checkbox"
                [(ngModel)]="item.completed"
                (ngModelChange)="filterChange(item)"
                name="itemchecked"
            >
            <input
                type="text"
                id="id2"
                [disabled]="!item.editable"
                [(ngModel)]="item.itemName"
            >
            <button (click)="editItem(item)">
                <span *ngIf="!item.editable">Edit</span>
                <span *ngIf="item.editable">Save</span>
            </button>
            <button (click)="deleteItem(item)">Delete</button>
        </div>
    </div>
    <div *ngIf="completedItem.length > 0">
            <h4>COMPLETED</h4>
            <hr>
        <div *ngFor="let item of completedItem">            
            <input
                type="checkbox"
                name="itemchecked"
                [(ngModel)]="item.completed"
                (ngModelChange)="addTodoItem(item)"
            >
            <input
                type="text"
                [disabled]="!item.editable"
                id="id3"
                [(ngModel)]="item.itemName"
            >
            <button (click)="editItem(item)">
                    <span *ngIf="!item.editable">Edit</span>
                    <span *ngIf="item.editable">Save</span>
            </button>
            <button (click)="deleteCompletedItem(item)">Delete</button>
        </div>
    </div>
</div>

<router-outlet></router-outlet>
